absl-py                                    
aiohappyeyeballs                                    
aiohttp                                    
aiosignal                                    
alembic                                    
altair                                    
annotated-types                                    
anyio                                    
appdirs                                    
argon2-cffi                                    
argon2-cffi-bindings                                    
asgiref                                    
asttokens                                    
astunparse                                    
async-timeout                                    
attrs                                    
awscli                                    
azure-common                                    
azure-core                                    
azure-identity                                    
azure-mgmt-core                                    
azure-mgmt-resource                                    
azure-storage-blob                                    
backcall                                    
backoff                                    
bcrypt                                    
beautifulsoup4                                    
blinker                                    
bokeh                                    
botocore                                    
Brotli                                    
build                                    
cachetools                                    
carte-ai                                    
catboost                                    
category_encoders                                    
certifi                                    
cffi                                    
charset-normalizer                                    
chroma-hnswlib                                    
chromadb                                    
click                                    
cloudpickle                                    
colorama                                    
coloredlogs                                    
colorlog                                    
comm                                    
contourpy                                    
cryptography                                    
cycler                                    
dask                                    
databricks-sdk                                    
dataclasses-json                                    
datasets                                    
debugpy                                    
decorator                                    
Deprecated                                    
dill                                    
dirtyjson                                    
distro                                    
Django                                    
django-cors-headers                                    
djangorestframework                                    
docker                                    
docutils                                    
durationpy                                    
einops                                    
entrypoints                                    
exceptiongroup                                    
executing                                    
fastapi                                    
fasttext                                    
filelock                                    
filetype                                    
findspark                                    
Flask                                    
flatbuffers                                    
fonttools                                    
frozenlist                                    
fsspec                                    
gast                                    
gitdb                                    
GitPython                                    
google-auth                                    
google-pasta                                    
googleapis-common-protos                                    
graphene                                    
graphql-core                                    
graphql-relay                                    
graphviz                                    
greenlet                                    
grpcio                                    
gTTS                                    
gunicorn                                    
h11                                    
h2                                    
h5py                                    
hpack                                    
httpcore                                    
httptools                                    
httpx                                    
httpx-sse                                    
huggingface-hub                                    
humanfriendly                                    
hyperframe                                    
idna                                    
importlib_metadata                                    
importlib_resources                                    
intel-cmplr-lib-ur                                    
intel-openmp                                    
ipykernel                                    
ipython                                    
isodate                                    
itsdangerous                                    
jedi                                    
Jinja2                                    
jiter                                    
jmespath                                    
joblib                                    
jsonpatch                                    
jsonpointer                                    
jsonschema                                    
jsonschema-specifications                                    
jupyter-client                                    
jupyter_core                                    
keras                                    
tf-keras                                    
kiwisolver                                    
kubernetes                                    
langchain                                    
langchain-community                                    
langchain-core                                    
langchain-openai                                    
langchain-text-splitters                                    
langsmith                                    
libclang                                    
lightgbm                                    
llama-cloud                                    
llama-cloud-services                                    
llama-index                                    
llama-index-agent-openai                                    
llama-index-cli                                    
llama-index-core                                    
llama-index-embeddings-openai                                    
llama-index-indices-managed-llama-cloud                                    
llama-index-llms-openai                                    
llama-index-multi-modal-llms-openai                                    
llama-index-program-openai                                    
llama-index-question-gen-openai                                    
llama-index-readers-file                                    
llama-index-readers-llama-parse                                    
llama-parse                                    
llvmlite                                    
locket                                    
Mako                                    
Markdown                                    
markdown-it-py                                    
MarkupSafe                                    
marshmallow                                    
matplotlib                                    
matplotlib-inline                                    
mdurl                                    
mkl                                    
mkl_fft                                    
mkl_random                                    
mkl-service                                    
ml-dtypes                                    
mlflow                                    
mlflow-skinny                                    
mmh3                                    
monotonic                                    
mpmath                                   
msal                                    
msal-extensions                                    
multidict                                    
multiprocess                                    
mypy-extensions                                    
namex                                    
narwhals                                    
nest-asyncio                                    
networkx                                    
nltk                                    
numba                                    
numpy                                    
nvidia-cublas-cu12                                    
nvidia-cuda-cupti-cu12                                    
nvidia-cuda-nvrtc-cu12                                    
nvidia-cuda-runtime-cu12                                    
nvidia-cudnn-cu12                                    
nvidia-cufft-cu12                                    
nvidia-curand-cu12                                    
nvidia-cusolver-cu12                                    
nvidia-cusparse-cu12                                    
nvidia-cusparselt-cu12                                    
nvidia-nccl-cu12                                    
nvidia-nvjitlink-cu12                                    
nvidia-nvtx-cu12                                    
oauthlib                                    
onnxruntime                                    
openai                                    
opentelemetry-api                                    
opentelemetry-exporter-otlp-proto-common                                    
opentelemetry-exporter-otlp-proto-grpc                                    
opentelemetry-instrumentation                                    
opentelemetry-instrumentation-asgi                                    
opentelemetry-instrumentation-fastapi                                    
opentelemetry-proto                                    
opentelemetry-sdk                                    
opentelemetry-semantic-conventions                                    
opentelemetry-util-http                                    
opt_einsum                                    
optree                                    
optuna                                    
orjson                                    
overrides                                    
packaging                                    
pandas                                   
parso                                    
partd                                    
patsy                                    
pexpect                                    
pickleshare                                    
pillow                                    
pinecone                                    
pinecone-plugin-inference                                    
pinecone-plugin-interface                                    
pip                                    
platformdirs                                    
plotly                                    
portalocker                                    
posthog                                    
prompt_toolkit                                    
propcache                                    
protobuf                                    
psutil                                    
ptyprocess                                    
pure-eval                                    
pyarrow                                    
pyasn1                                    
pyasn1_modules                                    
pybind11                                    
pycparser                                    
pydantic                                    
pydantic_core                                    
pydantic-settings                                    
Pygments                                    
PyJWT                                    
PyMySQL                                    
pyparsing                                    
pypdf                                    
PyPika                                    
pyproject_hooks                                    
PySocks                                    
python-dateutil                                    
python-dotenv                                    
pytorch-tabnet                                    
pytz                                    
PyYAML                                    
pyzmq                                    
referencing                                    
regex                                    
requests                                    
requests-oauthlib                                    
requests-toolbelt                                    
rich                                    
rpds-py                                    
rsa                                    
s3transfer                                    
scikit-learn                                    
scipy                                    
seaborn                                    
setuptools                                    
shap                                    
shellingham                                    
six                                    
slicer                                    
smmap                                    
sniffio                                    
soupsieve                                    
SQLAlchemy                                    
sqlparse                                    
stack-data                                    
starlette                                    
statsmodels                                    
striprtf                                    
sympy                                    
tabpfn                                    
tbb                                    
tcmlib                                    
tenacity                                    
tensorboard                                    
tensorboard-data-server                                    
tensorflow                                    
tensorflow-io-gcs-filesystem                                    
termcolor                                    
threadpoolctl                                    
tiktoken                                    
tokenizers                                    
tomli                                    
toolz                                    
torch                                    
torch-geometric                                    
torchaudio                                    
torcheval                                    
torchvision                                    
tornado                                    
tqdm                                    
traitlets                                    
triton                                    
typer                                    
typing_extensions                                    
typing-inspect                                    
tzdata                                    
umf                                    
urllib3                                    
uvicorn                                    
uvloop                                    
watchfiles                                    
wcwidth                                    
websocket-client                                    
websockets                                  
Werkzeug
wheel                                    
wrapt                                    
xgboost                                    
xxhash                                    
xyzservices                                    
yarl                                    
zipp                                    
zstandard                                  